<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="MailFrom" value="bevs@bevs.dk"/>
    <add key="ErrorEmailRecipient" value="bevs@bevs.dk"/>
    <add key="MailFromFriendlyName" value="bevs.dk"/>
    <add key="Smtp" value="smtp.tdc.dk"/>
    <add key="showCustomErrorMessageOnPage" value="true"/>
    <add key="EmailValidationRegularExpression" value="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,6})$"/>
    <add key="ProfessionId_Author" value="9bb422e3-2493-472f-b7ec-2d8ded8ab3eb"/>
    <add key="ProfessionId_Translator" value="fabe2fe2-921c-4354-8881-646101dd2a6b"/>
    <add key="ProfessionId_CoverArtist" value="1871087d-bb98-45a8-adac-ff297749c049"/>
    <add key="SystemUser" value="bevs.dk_sys"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <!-- PRODUCTION (UNOEURO): -->
    <add name="mysqlConnString" connectionString="Database=bevs_dk_db;Data Source=mysql2.unoeuro.com;User Id=bevs_dk;Password=bevsbevs"/>
    <!-- FRA UNOEURO Support -> string mysql = "driver={MySql};server=mysql2.unoeuro.com;database=bevs_dk_db/DB;uid=bevs_dk;pwd=[password];OPTION=3"; -->

    <!-- LOCAL: -->
    <!--<add name="mysqlConnString" connectionString="Database=bevs_dk;Data Source=localhost;User Id=root;Password=bevsbevs;Allow Zero DateTime=true"/>-->
    <!--<add name="mysqlConnString" connectionString="Server=localhost;Database=bevs_dk;Uid=root;Pwd=bevsbevs;"/>-->
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Examples/login.aspx" name=".ASPXFORMSAUTH"/>
    </authentication>
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1"/>
    <roleManager defaultProvider="MySqlRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear/>
        <add name="MySqlRoleProvider" connectionStringName="mysqlConnString" applicationName="bevs" type="Andri.Web.MySqlRoleProvider"/>
      </providers>
    </roleManager>
    <membership defaultProvider="MySqlMembershipProvider">
      <providers>
        <clear/>
        <add name="MySqlMembershipProvider" connectionStringName="mysqlConnString" applicationName="bevs" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Clear" encryptionKey="AD57FE4BA20CB32B" type="Andri.Web.MySqlMembershipProvider"/>
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
      -->
    <customErrors mode="Off"/>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="bevs@bevs.dk" deliveryMethod="network">
        <network host="smtp.tdc.dk" password="" userName=""/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>